@model Api_Almoxarifado_Mirvi.Models.Repartição
@{
    ViewData["Title"] = "Detalhes";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-almoxarifadoId="@almoxarifadoId" class="btn btn-default">Edit</a>
    <a asp-action="Index" asp-route-almoxarifadoId="@almoxarifadoId">Voltar para lista</a>
</div>