@model Api_Almoxarifado_Mirvi.Models.Prateleira
@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Corredor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Corredor.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Voltar para lista</a>
</div>