@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Almoxarifado>

@{
    ViewData["Title"] = "Almoxarifados";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelitem => item.Nome)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<p>
    <a class="btn btn-success" asp-action="Create">Criar Novo almoxarifado</a>
</p>
<partial name="~/Views/Shared/_LayoutReturnButton.cshtml" model="almoxarifadoId" />