@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Produto>
@{
    ViewData["Title"] = "Mirvi Brasil";
}

<div class="search-container text-center">
    <div class="search-box">
        <h1>Mirvi Brasil</h1>
        <input type="text" id="searchInput1" class="search-input" onkeyup="searchProducts('searchInput1', 'search-results1')" placeholder="Pesquisar...">
        <div class="search-results" id="search-results1" style="display: none;">
            <table class="table tavle-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prateleiras)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                    </tr>
                </thead>
                <tbody id="productList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prateleiras.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="search-box">
        <h1>Tetra Pak</h1>
        <input type="text" id="searchInput2" class="search-input" onkeyup="searchProducts('searchInput2', 'search-results2')" placeholder="Pesquisar...">
        <div class="search-results" id="search-results2" style="display: none;">
            <table class="table tavle-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prateleiras)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                    </tr>
                </thead>
                <tbody id="productList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prateleiras.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function searchProducts(inputId, resultsId) {
        var input = document.getElementById(inputId);
        var filter = input.value.toUpperCase();
        var resultsDiv = document.getElementById(resultsId);
        var table = resultsDiv.querySelector('tbody');
        var rows = table.getElementsByTagName('tr');
        var anyMatch = false;

        for (var i = 0; i < rows.length; i++) {
            var descriptionCell = rows[i].getElementsByTagName('td')[0];
            if (descriptionCell) {
                var description = descriptionCell.textContent || descriptionCell.innerText;
                var display = description.toUpperCase().indexOf(filter) > -1 ? '' : 'none';
                rows[i].style.display = display;
                if (display === '') {
                    anyMatch = true;
                }
            }
        }

        if (anyMatch && filter !== '') {
            resultsDiv.style.display = 'block';
        } else {
            resultsDiv.style.display = 'none';
        }

        if (filter === '') {
            table.style.display = 'none';
        } else {
            table.style.display = '';
        }
    }
</script>
<style>
    .search-container {
        display: flex;
        justify-content: center;
        height: 70vh;
    }

    .search-box {
        margin: 0 10px;
        border: 5px solid #ccc;
        border-radius: 10px;
        padding: 5px;
    }

    .search-input {
        padding: 10px;
        width: 500px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .search-results {
        width: 500px;
        max-height: 200px;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
    }

        .search-results a {
            display: block;
            padding: 5px;
            text-decoration: none;
            color: #333;
        }

            .search-results a:hover {
                background-color: #f0f0f0;
            }
</style>
