@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Produto>
@{
    ViewData["Title"] = "Mirvi Brasil";
}
<link rel="stylesheet" href="~/lib/Home/Index.cshtml.css" />
<div class="search-container text-center">
    <div class="search-box">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MirviBrasil"><h1>Mirvi Brasil</h1></a>
        <input type="text" id="searchInput1" class="search-input" data-almoxarifado="1" onkeyup="searchProducts('searchInput1', 'search-results1')" placeholder="Pesquisar...">
        <div class="search-results" id="search-results1" style="display: none; height: 310px; overflow-y: scroll;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.AlmoxarifadoId == 1)
                        {
                            <tr action="Details" asp-route-id="@item.Id">
                                <td>
                                    <a href="/Produtos/Details/@item.Id">
                                @Html.DisplayFor(modelItem => item.Descricao)
                                    </a>
                                </td>
                                <td id="quantidade_@item.Id">
                                    <a href="/Produtos/Details/@item.Id">
                                @item.Quantidade
                                    </a>
                                </td>
                                <td>
                                    @using (Html.BeginForm("DescontarQuantidade", "Produtos", new { id = item.Id }, FormMethod.Post, null, new { @class = "form-inline" }))
                                    {
                                        <div class="form-group">
                                            <input type="number" name="quantidade" class="form-control quantity-input" placeholder="Quantidade">
                                            <button type="submit" class="btn btn-primary">Descontar</button>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="search-box">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="TetraPak"><h1>Tetra Pak</h1></a>
        <input type="text" id="searchInput2" class="search-input" data-almoxarifado="2" onkeyup="searchProducts('searchInput2', 'search-results2')" placeholder="Pesquisar...">
        <div class="search-results" id="search-results2" style="display: none; height: 310px; overflow-y: scroll;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.AlmoxarifadoId == 2)
                        {
                            <tr>
                                <td>
                                    <a href="/Produtos/Details/@item.Id">
                                @Html.DisplayFor(modelItem => item.Descricao)
                                    </a>
                                </td>
                                <td id="quantidade_@item.Id">
                                    <a href="/Produtos/Details/@item.Id">
                                @item.Quantidade
                                    </a>
                                </td>
                                <td>
                                    @using (Html.BeginForm("DescontarQuantidade", "Produtos", new { id = item.Id }, FormMethod.Post, null, new { @class = "form-inline" }))
                                    {
                                        <div class="form-group">
                                            <input type="number" name="quantidade" class="form-control quantity-input" placeholder="Quantidade">
                                            <button type="submit" class="btn btn-primary">Descontar</button>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/lib/Home/Index.js" ></script>
</div>