@model Api_Almoxarifado_Mirvi.Models.Produto
@{
    ViewData["Title"] = "Deletar"; 
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>
<h3>Tem certeza que deseja excluir esse produto ?</h3>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" asp-route-almoxarifadoId="@almoxarifadoId">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-almoxarifadoId="@almoxarifadoId">Voltar para lista</a>
    </form>
</div>
