@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Produto>

@{
    ViewData["Title"] = "Produto";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>

<table class="table tavle-striped table-hover">
    <p>
        <a class="btn btn-success" asp-action="ProdutosIndisponiveis">Requisicoes</a>
    </p>
    <p>
        <a class="btn btn-success" asp-action="Create" asp-route-almoxarifadoId="@almoxarifadoId">Adicionar Produto</a>
    </p>
    <div>
        <input type="text" id="searchInput" onkeyup="searchProducts()" placeholder="Digite para pesquisar...">
    </div>
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prateleiras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            @if (almoxarifadoId == 1)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Repartição)
                </th>
            }
            else if (almoxarifadoId == 2)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Maquina)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prateleiras.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                @if (almoxarifadoId == 1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Repartição.Nome)
                    </td>
                }
                else if (almoxarifadoId == 2)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Maquina.Nome)
                    </td>
                }
                <td>
                    @using (Html.BeginForm("Atualizar", "Produtos", new { id = item.Id, almoxarifadoId = almoxarifadoId }, FormMethod.Post, null, new { @class = "form-inline" }))
                    {
                        <div class="form-group">
                            @{
                                var quantidade = item.Quantidade;
                            }
                            @Html.EditorFor(modelItem => quantidade, new { htmlAttributes = new { @class = "form-control" } })
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function searchProducts() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        var rows = document.getElementsByClassName('productRow');

        for (var i = 0; i < rows.length; i++) {
            var td = rows[i].getElementsByTagName('td')[0];
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
</script>