@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Produto>
@{
    ViewData["Title"] = "Produto";
}

<h1>@ViewData["Title"]</h1>

<table class="table tavle-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prateleiras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Prateleiras.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Enderecos.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Data)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-action="Create">Adicionar Produto</a>
</p>
