@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Produto>
<link rel="stylesheet" href="/css/ProdutosIndisponiveis.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Produtos Indisponíveis e Limite Baixo";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>
<partial name="~/Views/Shared/_LayoutReturnButton.cshtml" model="almoxarifadoId" />

<div class="row">
    @foreach (var product in Model) {
        <div class="col-md-4 mb-2">
            <a asp-action="DetailsIndisponivel" asp-route-id="@product.Id" asp-route-almoxarifadoId="@almoxarifadoId">
                <div class="card">
                    <img src="data:image;base64,@Convert.ToBase64String(@product.FotoPDF)" alt="Foto do produto">
                    <div class="card-body">
                        <h5 class="card-title mb-2">
                            @product.Descricao
                        </h5>
                        <p class="card-text text-black">
                            <b>@(product.Valor != null ? product.Valor.ToString() : "Valor Indisponível")</b>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>