@model IEnumerable<Api_Almoxarifado_Mirvi.Models.Corredor>
@{
    ViewData["Title"] = "Corredor";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-success" asp-action="Create" asp-route-almoxarifadoid="@almoxarifadoId">Criar um novo Corredor</a>
</p>
<partial name="~/Views/Shared/_LayoutReturnButton.cshtml" model="almoxarifadoId" />
<table class="table tavle-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Almoxarifado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Almoxarifado.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-almoxarifadoId="@almoxarifadoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>